html,
body {
    background-image: url("./Images/husky.webp");
    background-size: cover;
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.Avatar {
    width: 100px;
    height: 100px;
    position:absolute;
    top: -60px;
    right: 145px;
    border-radius: 100%;
}

.registering {
    width: 385px;
    background-color: lightyellow;
    padding: 50px 30px;
    border-radius: 20px;
    color: teal;
    position: absolute;
    top: 20%;
    right: 10%;
    box-align: center;
}

.registering input[type="text"],
input[type="Password"] {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.173);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgba(56, 58, 58, 0.961);
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}

.registering input[type="Submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgba(0, 128, 128, 0.421);
    color: teal;
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
}

.registering a {
    text-decoration: none;
    color: grey;
}

.registering input[type="Submit"]:hover {
    background-color: teal;
    color: white;
    cursor: pointer;
}

.registering a:hover {
    text-decoration: underline;
    color: teal;
}